body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0A1828;
}

.container {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 80%;
  padding: 40px;
  animation: fadeIn 1s ease;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(23, 133, 130, 0.1), #66ccff);
}


h1 {
  color: #BFA181;
  font-size: 32px;
  margin-top: 50;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#year-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#year-list li {
  margin-right: 10px;
}

#year-list li button {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #BFA181;
  color: #161212;
  border-radius: 3px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#year-list li button:hover {
  background-color: #1b959e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#text-container {
  top: 0;
  left: 0;
  border: #333 1px solid;
  width: 90%;
  padding: 20px;
  display: none;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.line {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#text-container {
  display: block;
  animation: fadeIn 1s ease forwards;
}

/* CSS Styles for CV Text */
.cv-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.cv-text p {
  margin: 0;
  margin-bottom: 10px;
}

.cv-text ul {
  padding-left: 20px;
}

.cv-text li {
  margin-bottom: 5px;
}

.cv-text h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cv-text h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
